<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">

        <h:form id="listform">
            <p:dataTable
                    id="attributesTable"
                    var="attr"
                    value="#{attributeController.getAttributes()}"
                    rowKey="#{attr.id}"
                    paginator="true"
                    rows="15"
                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                    rowsPerPageTemplate="5,10,15"
                    paginatorPosition="bottom"
                    selectionMode="single"
                    selection="#{attributeController.selectedAttribute}">

                <p:ajax
                        event="rowSelect"
                        update=":listform:buttonaddattribute :listform:buttoneditattribute :listform:buttonarchiveattribute"/>

                <p:column headerText="#{msg['datatable.attribute.id']}">
                    <h:outputText value="#{attr.id}"/>
                </p:column>

                <p:column headerText="#{msg['datatable.attribute.number']}">
                    <h:outputText value="#{attr.number}"/>
                </p:column>

                <p:column headerText="#{msg['datatable.attribute.name']}">
                    <h:outputText value="#{attr.name}"/>
                </p:column>

                <p:column headerText="#{msg['datatable.attribute.description']}">
                    <h:outputText value="#{attr.description}"/>
                </p:column>

                <!--
                <f:facet name="paginatorBottomLeft">

                </f:facet>
                -->

            </p:dataTable>

            <p:commandButton
                    id="buttonaddattribute"
                    value="#{msg['button.add']}"
                    ajax="true"
                    actionListener="#{attributeController.addAttribute}"
                    update=":addeditform"
                    styleClass="ui-priority-primary"/>

            <p:commandButton
                    id="buttoneditattribute"
                    value="#{msg['button.edit']}"
                    ajax="true"
                    actionListener="#{attributeController.editAttribute}"
                    update=":addeditform"
                    disabled="#{not attributeController.isEditable()}"
                    styleClass="ui-priority-primary"/>

            <p:commandButton
                    id="buttonarchiveattribute"
                    value="#{msg['button.archive']}"
                    ajax="true"
                    actionListener="#{attributeController.archiveAttribute}"
                    disabled="#{not attributeController.isArchivable()}"
                    styleClass="ui-priority-primary"/>
        </h:form>

        <p:dialog
                id="addeditdialog"
                modal="true"
                resizable="false"
                draggable="false"
                closable="false"
                header="#{msg['attribute.addedit.dialogtitle']}"
                widgetVar="addeditdialog">

            <h:form id="addeditform">
                <p:panelGrid columns="2">

                    <h:outputText value="#{msg['attribute.form.number']}"/>
                    <h:inputText value="#{attributeController.attribute.number}"/>

                    <h:outputText value="#{msg['attribute.form.name']}"/>
                    <h:inputText value="#{attributeController.attribute.name}"/>

                    <h:outputText value="#{msg['attribute.form.description']}"/>
                    <h:inputText value="#{attributeController.attribute.description}"/>

                    <p:commandButton
                            value="#{msg['button.save']}"
                            ajax="true"
                            actionListener="#{attributeController.saveAttribute}"
                            update=":addeditform"
                            styleClass="ui-priority-primary"/>

                    <p:commandButton
                            value="#{msg['button.cancel']}"
                            ajax="true"
                            actionListener="#{attributeController.cancelAddAttribute}"
                            update=":addeditform"
                            styleClass="ui-priority-primary"/>
                </p:panelGrid>
            </h:form>

        </p:dialog>
    </ui:define>
</ui:composition>