<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</h:head>

<h:body>

    <form jsf:id="form">
        <p>
            <strong>Username</strong>
            <input jsf:id="username" type="text" jsf:value="#{loginBean.username}" />
        </p>
        <p>
            <strong>Password</strong>
            <input jsf:id="password" type="password" jsf:value="#{loginBean.password}" />
        </p>
        <p>
            <input type="submit" value="Login" jsf:action="#{loginBean.login}" />
        </p>
    </form>

</h:body>

</html>