<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>

    <p:menubar>
        <p:submenu
            label="#{msg['mainmenu.basedata']}">
            <p:menuitem value="#{msg['mainmenu.attributes']}" url="attributes.jsf" />
            <p:menuitem value="#{msg['mainmenu.types']}" url="types.jsf" />

        </p:submenu>
    </p:menubar>

</h:body>

</html>