<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        <h:form id="listform">

            <p:panelGrid>
                <p:row>
                    <p:column>
                        <p:treeTable
                                id="typestree"
                                value="#{typeController.rootNodes}"
                                var="type"
                                selectionMode="single"
                                selection="#{typeController.selectedTreeNode}">

                            <p:ajax
                                    event="select"
                                    listener="#{typeController.onSelectTypeNode}" />

                            <p:column
                                headerText="#{msg['datatable.type.number']}">
                                <h:outputText value="#{type.number}" />
                            </p:column>

                            <p:column
                                headerText="#{msg['datatable.type.name']}">
                                <h:outputText value="#{type.name}" />
                            </p:column>

                            <p:column
                                headerText="#{msg['datatable.type.description']}">
                                <h:outputText value="#{type.description}" />
                            </p:column>

                        </p:treeTable>
                    </p:column>

                    <p:column>
                        <p:dataTable
                                id="attributesTable"
                                var="attr"
                                value="#{typeController.getAttributesforType()}"
                                rowKey="#{attr.id}"
                                paginator="true"
                                rows="15"
                                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                rowsPerPageTemplate="5,10,15"
                                paginatorPosition="bottom">

                            <p:column headerText="#{msg['datatable.attribute.id']}">
                                <h:outputText value="#{attr.id}"/>
                            </p:column>

                            <p:column headerText="#{msg['datatable.attribute.number']}">
                                <h:outputText value="#{attr.number}"/>
                            </p:column>

                            <p:column headerText="#{msg['datatable.attribute.name']}">
                                <h:outputText value="#{attr.name}"/>
                            </p:column>

                            <p:column headerText="#{msg['datatable.attribute.description']}">
                                <h:outputText value="#{attr.description}"/>
                            </p:column>

                        </p:dataTable>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column colspan="2">
                        <p:commandButton
                                id="buttonaddtype"
                                value="#{msg['button.type.addtype']}"
                                ajax="true"
                                actionListener="#{typeController.addType}"
                                update=":addeditform"
                                styleClass="ui-priority-primary"/>

                        <p:commandButton
                                id="buttonedittype"
                                value="#{msg['button.type.edittype']}"
                                ajax="true"
                                actionListener="#{typeController.editType}"
                                update=":addeditform"
                                disabled="#{not typeController.isEditable()}"
                                styleClass="ui-priority-primary"/>

                        <p:commandButton
                                id="buttonaddattribute"
                                value="#{msg['button.type.addattribute']}"
                                ajax="true"
                                actionListener="#{typeController.openAddAttributeDialog}"
                                disabled="#{not typeController.isAttributeAddable()}"
                                styleClass="ui-priority-primary"/>

                        <p:commandButton
                                id="buttonarchivetype"
                                value="#{msg['button.type.archivetype']}"
                                ajax="true"
                                actionListener="#{typeController.archiveType}"
                                disabled="#{not typeController.isArchivable()}"
                                styleClass="ui-priority-primary"/>
                    </p:column>
                </p:row>

            </p:panelGrid>

        </h:form>

        <p:dialog
                id="addattributedialog"
                modal="true"
                resizable="false"
                draggable="false"
                closable="false"
                header="#{msg['type.addattribute.dialogtitle']}"
                widgetVar="addattributedialog">

            <h:form id="selectattributesform">

                <p:panelGrid>

                    <p:row>
                        <p:column colspan="2">

                            <p:dataTable
                                    value="#{typeController.availableAttributes()}"
                                    var="attr"
                                    id="attributesTable"
                                    rowKey="#{attr.id}"
                                    paginator="true"
                                    rows="15"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    rowsPerPageTemplate="5,10,15"
                                    selection="#{typeController.selectedAttributesToAdd}"
                                    paginatorPosition="bottom">

                                <p:column
                                        selectionMode="multiple"/>

                                <p:column headerText="#{msg['datatable.attribute.number']}">
                                    <h:outputText value="#{attr.number}"/>
                                </p:column>

                                <p:column headerText="#{msg['datatable.attribute.name']}">
                                    <h:outputText value="#{attr.name}"/>
                                </p:column>

                            </p:dataTable>


                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:commandButton
                                    value="#{msg['button.save']}"
                                    ajax="true"
                                    actionListener="#{typeController.saveAttributes}"
                                    styleClass="ui-priority-primary"/>
                        </p:column>

                        <p:column>
                            <p:commandButton
                                    value="#{msg['button.cancel']}"
                                    ajax="true"
                                    actionListener="#{typeController.cancelAddAttributes}"
                                    styleClass="ui-priority-primary"/>
                        </p:column>
                    </p:row>

                </p:panelGrid>

            </h:form>

        </p:dialog>

        <p:dialog
                id="addeditdialog"
                modal="true"
                resizable="false"
                draggable="false"
                closable="false"
                header="#{msg['type.addedit.dialogtitle']}"
                widgetVar="addeditdialog">

            <h:form id="addeditform">
                <p:panelGrid columns="2">

                    <h:outputText value="#{msg['type.form.parent']}" />
                    <h:inputText readonly="true" value="#{typeController.type.parent ne null ? typeController.type.parent.name : ''}" />

                    <h:outputText value="#{msg['type.form.number']}"/>
                    <h:inputText value="#{typeController.type.number}"/>

                    <h:outputText value="#{msg['type.form.name']}"/>
                    <h:inputText value="#{typeController.type.name}"/>

                    <h:outputText value="#{msg['type.form.description']}"/>
                    <h:inputText value="#{typeController.type.description}"/>

                    <p:commandButton
                            value="#{msg['button.save']}"
                            ajax="true"
                            actionListener="#{typeController.saveType}"
                            update=":addeditform"
                            styleClass="ui-priority-primary"/>

                    <p:commandButton
                            value="#{msg['button.cancel']}"
                            ajax="true"
                            actionListener="#{typeController.cancelAddType}"
                            update=":addeditform"
                            styleClass="ui-priority-primary"/>
                </p:panelGrid>
            </h:form>

        </p:dialog>
    </ui:define>
</ui:composition>